/*body {
    background-color: black;
}

 h1 {
     color: red;
}

#p1 {
    color: lightgreen;
}


#p2 {
    color: lightcoral;
}

#p3 {
    color: lightpink;
}

#p4 {
    color: lightseagreen;
} 


h1 {
    color: aliceblue;
}

.odd {
    color: lightgreen;
}

.even {
    color: lightsalmon;
} 

h1 {
    color: red;
}

#p1 {
    color: rgb(237, 69, 105);
}

#p2 {
    color: #ed4569;
}

#p3 {
    color: hsl(99, 82%, 45%);
} 

h1 {
    font-family: sans-serif;
}

#p1 {
    font-family: Verdana;
    font-size: 2em;
    font-weight: bold;
    font-style:italic;
} 

h1 {
    /* border-style: solid; */
    /* border-style: dotted; */
    /* border-style: dashed; */
    /* border-style: double; */
    /* border-style: groove; */
    /* border-style: solid;
    border-width: 6px;
    border-color: lawngreen;
    border-radius: 5px;
    border: 5px solid green;
    border-radius: 6px;
}

#p1 {
     border-bottom: 3px dotted green;
}

#p1 {
    border-left: 3px dashed lawngreen;
} 


#myH1 {
    text-shadow: 2px 2px 4px lightcoral, -2px -2px 4px lightgreen;
}

#box1 {
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
    box-shadow:  2px 2px 4px lightcoral, -2px -2px 4px lightgreen;
} 
 body {
    margin: 0px;
 }

 .box {
    border: 5px solid ;
    font-size: 5em;
    width: 250px;
    height: 250px;
    /* margin: 200px; */
    /* margin: auto; 
    
 }

 #box1 {
      background-color: lightblue;
      /* margin-top: 50px; */
      /* margin-bottom: 50px; */
      /* margin-left: 200px;
      margin-top: 200px; 
      margin: 200px; */
      /* margin-left: auto; */


 /* }

 #box2 {
    background-color: lightcoral;
   margin-left: 200px; 
 } 

body {
    border: 3px solid;
    display: flow-root;
}

#img1 {
  
    float: left;
    margin-right: 10px;

}

#img2 {
    float: right;
    margin-left: 10px;
} */


/* #div1 { */
    /* border: 2px solid;   
    height: 60px; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
/* } */


/* 
#div1 {
    background-color: lightblue;
    width: 100px;
    height: 100px;
    /* display: inline-block;
    display: none;
    visibility: hidden;
}

#span1 {
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
} 

9994030296 - Dinesh
name
dept 
passed 
course  */


